boto3==1.21.18
matplotlib==3.3.4
langcodes==3.3.0
Babel==2.9.1
PyYAML==5.4.1
adjustText==0.7.3
numpy>=1.19.1,<2
python-dateutil==2.8.1
pillow==9.0.1
pytest==5.1.0
flake8==3.9.2
requests==2.27.1
python-dotenv>=0.15.0,<1
matplotlib-label-lines==0.5.1
