boto3==1.34.48
matplotlib==3.8.3
langcodes==3.3.0
Babel==2.14.0
PyYAML==6.0.1
adjustText==0.7.3
numpy==1.26.4
python-dateutil==2.8.2
pytest==8.0.1
flake8==7.0.0
requests==2.31.0
python-dotenv==1.0.1
matplotlib-label-lines==0.5.1
Pillow==10.2.0
geopandas==0.14.3
mapclassify==2.6.1
